extends layout

block content
  #connection-status.
    Not connected
  ds-widget.test-widget(source-key="_worker_data_key_")

block end-of-body
  script.
    window.TOKEN = "!{ token }";
  script(src="/angular.js")
  script(src="/dashy.js")
