doctype html
html
  head
    title= Dashy
    style.
      .widget {
        display: inline-block;
        margin: 10px;
        padding: 5px;
        border: 1px solid red;
      }
  body(ng-app="dashboard")
    block content
    script(src="/zepto.min.js")
    script(src="/socket.io/socket.io.js")
    block end-of-body
