doctype html
html
  head
    title= Dashy
    style.
      .widget {
        display: inline-block;
        margin: 10px;
        padding: 5px;
        border: 1px solid red;
      }
  body
    block content
    script(src="http://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/socket.io/socket.io.js")
    block end-of-body
